body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

div {
    padding: 15px;
    justify-content: space-around;
}

ul {
    padding-inline-start: 0px;
}